/* ----------------------------------------------------------------
    Fonts

    Replace your Fonts as necessary
-----------------------------------------------------------------*/
body,
small,
#primary-menu ul li a,
#primary-menu ul li .mega-menu-content.style-2 > ul > li.mega-menu-title > a,
#primary-menu ul ul a,
.wp-caption,
.feature-box.fbox-center.fbox-italic p,
.skills li .progress-percent .counter,
.entry-meta li,
.entry-link span,
.entry blockquote p,
.more-link,
.comment-content .comment-author span,
.button.button-desc span,
.testi-content p,
.team-title span,
.before-heading,
.wedding-head .first-name span,
.wedding-head .last-name span { font-family: 'Roboto', 'Noto-Sans', sans-serif; }


h1,
h2,
h3,
h4,
h5,
h6,
#logo,
#top-search form input,
.entry-link,
.entry.entry-date-section span,
.button.button-desc,
.counter,
label,
.wedding-head .first-name,
.wedding-head .last-name,
.ll-font
{ font-family: 'Roboto', 'Noto-Sans', sans-serif; }

::selection {
  background: #f39800;
  color: white;
}

.ll-font-orange {
  color: #f39800;
}
.ll-font-bold {
  font-weight: 700;
}

.ll-section-image {
  /*background-size: 100% 100%;*/
  background-position: 50%;
  height: 265px;
}

/* ----------------------------------------------------------------
    Likelion Logo
-----------------------------------------------------------------*/

#logo {
	padding: 15px 0;
}

#logo img {
	height: 40px;
}

/* ----------------------------------------------------------------
    Rotate Text
-----------------------------------------------------------------*/

.opm-large-word {
	font-size: 80px;
}

.ll-about-text {
  margin: 40px 0;
  font-size: 20px;
}

/* ----------------------------------------------------------------
    Sponsers
-----------------------------------------------------------------*/
.ll-sponser-item {
  position: relative;
  height: 300px;
}
.ll-sponser-item .c-image {
  text-align: center;
}
.ll-sponser-item .c-image img {
  height: 250px;
}
.ll-sponser-item .c-desc {
  opacity: 0;

  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  padding: 85px;
  background: rgba(255, 255, 255, 0.7);

  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.ll-sponser-item:hover .c-desc {
  opacity: 1;
}
.ll-sponser-item .c-desc .c-desc-link {
  display: block;
  font-size: 50px;
  color: #f39800;
  font-weight: 700;

}
.ll-sponser-item .c-desc .c-desc-link span {
  font-size: 18px;
}
/*
.ll-sponser.is-main {
  width: 100%;
	height: 300px;
}
.ll-sponser.is-ym {
	padding: 70px 30px;
}
.ll-sponser.is-ba {
	padding: 70px 30px;
}
.ll-sponser.is-ba img {
	height: 120px !important;
}*/

.portfolio-masonry .portfolio-item .portfolio-image a {
	text-align: center;
}
.portfolio-masonry .portfolio-item .portfolio-image img {
	display: inline-block !important;

	width: auto !important;
	min-height: 150px;
	max-height: 300px !important;
}

/* ----------------------------------------------------------------
    Services
-----------------------------------------------------------------*/
.feature-box .ll-service-image {
	width: 220px;
}
.ll-service-pd {
	padding: 20px;
}

/* ----------------------------------------------------------------
    Buttons
-----------------------------------------------------------------*/
.ll-btn-apply {
	width: auto;
	height: auto !important;
	font-size: 30px !important;
	font-family: 'Noto-Sans';
	padding: 10px 22px;
  margin-bottom: 100px;
  border-radius: 0px;
}
.ll-btn-apply .c-icon {
  width: 100px;
  height: 100px;
  background: white;
  display: none;
  border-radius: 50%;
}
.ll-btn-apply .c-icon img {
  width: 55px;
}
.ll-btn-apply:hover {
  text-align: center;
  background: transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px !important;

  padding: 0;
  line-height: 92px;
}
.ll-btn-apply:hover .c-text {
  display: none;
}
.ll-btn-apply:hover .c-icon {
  display: inline-block;
}

/* ----------------------------------------------------------------
    Utilities
-----------------------------------------------------------------*/
.u-alignCenter {
	text-align: center;
}
.lead>span {
    font-size:20pt;
    color: #E0A051;
}

.feature-box {
    cursor: pointer;
}

.likelionEpilog {
  background-image: url('../images/reviewBackground.png');
  min-height: 450px;
  background-size: 50%;
  background-position: 0% 32%;
}
.likelionEpilogTitle {
    font-size: 30pt;
}

.flexslider {
    margin-left: 120px;
}

.likelionCommentWrapper {
     float: left;
     background-color: transparent !important;
}

h2 {
    margin-top: 15ßßpx;
    font-size: 45pt;
}

.team-overLay> span {
  color: rgb(255, 255, 255);
  font-size: 15pt;
  float: left;
  margin-left: 5px;
}
.team-overlay div {
    color: rgb(75, 146, 172);
    font-size: 16px;
}
.likelionTitle {
    margin:10px 0 0 0 !important;
}

/* ----------------------------------------------------------------
    Introduction
-----------------------------------------------------------------*/
.ll-introduction .c-llx img {
  max-width: 500px;
  margin-bottom: 20px;
}
.ll-introduction .c-intro {
  margin-bottom: 50px;
  font-size: 20px;
}
.ll-introduction .c-intro h3 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 15px;
}
.ll-introduction ul {
  list-style: none;
}
.ll-introduction .c-period .c-period-list {
  display: inline-block;
  text-align: left;
}

.flexslider {
  margin-left: 0;
}

.parallax .testimonial .testi-content p {
  font-size: 20px;
}

@media (max-width: 991px) {
  #logo {
    padding: 15px 0 !important;
  }
  .likelionEpilog {
    background-image: none;
    min-height: 910px;
  }
}

.c-period-list li {
  margin-bottom: 5px;
}


.smallSpone {
  width: 300px !important;
}

.c-intro-title , .c-intro-title img {
  display: block;
  margin: 0 auto;
}

.descriptionPoint {
  color:black;
  font-size: 25px;
}

.portfolio-overlay .portfolio-desc span {
  font-size: 18px;
}

.portfolio-image {
  text-align: center;
  width: 100%;
  height: 300px;
}

.#primary-menu ul li a {
  font-weight: 500;
  letter-spacing: 0;
}

.facebook_division{
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  top: 10px;
  left: 154px;
}

.ll-review-content {
  padding: 40px 0;
  height: 400px;
}
.ll-review-content .c-content {
  font-size: 18px;
  text-align: center;
}
.ll-review-content .c-student {
  text-align: center;
}
.ll-review-content .c-student span {
  display: block;
}
.ll-headerText {
  letter-spacing: 20px;
  color: white;
  font-weight: 700;
}
.ll-headerText-sub {
  color: white;
}
.testimonial.testimonial-full .flex-control-nav {
  height: 12px;
}
.testimonial .flex-control-nav li {
  width: 12px;
  height: 12px;
}
.testimonial .flex-control-nav li a {
  width: 12px !important;
  height: 12px !important;
>>>>>>> cc51f79b6509371ea181e051cb37772f8fbb9a21
}