/* ----------------------------------------------------------------
    Fonts

    Replace your Fonts as necessary
-----------------------------------------------------------------*/
body,
small,
#primary-menu ul li a,
#primary-menu ul li .mega-menu-content.style-2 > ul > li.mega-menu-title > a,
#primary-menu ul ul a,
.wp-caption,
.feature-box.fbox-center.fbox-italic p,
.skills li .progress-percent .counter,
.entry-meta li,
.entry-link span,
.entry blockquote p,
.more-link,
.comment-content .comment-author span,
.button.button-desc span,
.testi-content p,
.team-title span,
.before-heading,
.wedding-head .first-name span,
.wedding-head .last-name span { font-family: 'Roboto', sans-serif; }


h1,
h2,
h3,
h4,
h5,
h6,
#logo,
#top-search form input,
.entry-link,
.entry.entry-date-section span,
.button.button-desc,
.counter,
label,
.wedding-head .first-name,
.wedding-head .last-name,
.ll-font
{ font-family: 'Noto-Sans', sans-serif; }

::selection {
  background: #f39800;
  color: white;
}

.ll-font-orange {
  color: #f39800;
}
.ll-font-bold {
  font-weight: 700;
}

/* ----------------------------------------------------------------
    Likelion Logo
-----------------------------------------------------------------*/

#logo {
	padding: 15px 0;
}

#logo img {
	height: 40px;
}

/* ----------------------------------------------------------------
    Rotate Text
-----------------------------------------------------------------*/

.opm-large-word {
	font-size: 80px;
}

.ll-about-text {
  margin: 40px 0;
  font-size: 20px;
}

/* ----------------------------------------------------------------
    Sponsers
-----------------------------------------------------------------*/

.ll-sponser.is-main {
	height: 300px;
}
.ll-sponser.is-ym {
	padding: 70px 30px;
}
.ll-sponser.is-ba {
	padding: 70px 30px;
}
.ll-sponser.is-ba img {
	height: 120px !important;
}
.portfolio-masonry .portfolio-item .portfolio-image a {
	text-align: center;
}
.portfolio-masonry .portfolio-item .portfolio-image img {
	display: inline-block !important;

	width: auto !important;
	min-height: 150px;
	max-height: 300px !important;
}

/* ----------------------------------------------------------------
    Services
-----------------------------------------------------------------*/
.feature-box .ll-service-image {
	width: 220px;
}
.ll-service-pd {
	padding: 20px;
}

/* ----------------------------------------------------------------
    Buttons
-----------------------------------------------------------------*/
.ll-btn-apply {
	width: auto;
	height: auto !important;
	font-size: 30px !important;
	font-family: 'Noto-Sans';
	padding: 10px 22px;
  margin-bottom: 100px;
}

/* ----------------------------------------------------------------
    Utilities
-----------------------------------------------------------------*/
.u-alignCenter {
	text-align: center;
}
.lead>span {
    font-size:20pt;
    color: #E0A051;
}

.feature-box {
    cursor: pointer;
}

.nobottommargin {
  font-family: 'Noto-Sans', sans-serif !important;
}

.likelionEpilog {
  background-image: url('../images/reviewBackground.png');
  background-repeat: no-repeat;
  min-height: 450px;
  background-size: 50%;
  background-position: 0% 32%;
}
.likelionEpilogTitle {
    font-size: 30pt;
}

.flexslider {
    margin-left: 120px;
}

.likelionCommentWrapper {
     float: left;
     background-color: transparent !important;
}

h2 {
    margin-top: 15ßßpx;
    font-size: 45pt;
}

.team-overLay> span {
  color: rgb(255, 255, 255);
  font-size: 15pt;
  float: left;
  margin-left: 5px;
}
.team-overlay div {
    color: rgb(75, 146, 172);
    font-size: 16px;
}
.likelionTitle {
    margin:10px 0 0 0 !important;
}

/* ----------------------------------------------------------------
    Introduction
-----------------------------------------------------------------*/
.ll-introduction .c-llx img {
  max-width: 500px;
  margin-bottom: 20px;
}
.ll-introduction .c-intro {
  margin-bottom: 40px;
  font-size: 20px;
}
.ll-introduction .c-intro h3 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 15px;
}
.ll-introduction ul {
  list-style: none;
}
.ll-introduction .c-period .c-period-list {
  display: inline-block;
  max-width: 420px;
  text-align: left;
}

.flexslider {
  margin-left: 0;
}

.parallax .testimonial .testi-content p {
  font-size: 20px;
}

@media (max-width: 991px) {
  #logo {
    padding: 15px 0 !important;
  }
  .likelionEpilog {
    background-image: none;
    min-height: 910px;
  }
}