/* ----------------------------------------------------------------
    Fonts

    Replace your Fonts as necessary
-----------------------------------------------------------------*/
body,
small,
#primary-menu ul li a,
#primary-menu ul li .mega-menu-content.style-2 > ul > li.mega-menu-title > a,
#primary-menu ul ul a,
.wp-caption,
.feature-box.fbox-center.fbox-italic p,
.skills li .progress-percent .counter,
.entry-meta li,
.entry-link span,
.entry blockquote p,
.more-link,
.comment-content .comment-author span,
.button.button-desc span,
.testi-content p,
.team-title span,
.before-heading,
.wedding-head .first-name span,
.wedding-head .last-name span { font-family: 'Roboto', sans-serif; }


h1,
h2,
h3,
h4,
h5,
h6,
#logo,
#top-search form input,
.entry-link,
.entry.entry-date-section span,
.button.button-desc,
.counter,
label,
.wedding-head .first-name,
.wedding-head .last-name { font-family: 'Noto-Sans', sans-serif; }


/* ----------------------------------------------------------------
    Likelion Logo
-----------------------------------------------------------------*/

#logo {
	padding: 15px 0;
}

#logo img {
	height: 40px;
}
@media (max-width: 991px) {
	#logo {
	  padding: 15px 0 !important;
	}	
}

/* ----------------------------------------------------------------
    Rotate Text
-----------------------------------------------------------------*/

.opm-large-word {
	font-size: 80px;
}

/* ----------------------------------------------------------------
    Sponsers
-----------------------------------------------------------------*/

.ll-sponser.is-main{
	height: 300px;
}
.ll-sponser.is-ym{
	padding: 70px 30px;
}
.portfolio-masonry .portfolio-item .portfolio-image a {
	text-align: center;
}
.portfolio-masonry .portfolio-item .portfolio-image img {
	display: inline-block !important;

	width: auto !important;
	min-height: 150px;
	max-height: 300px !important;
}

/* ----------------------------------------------------------------
    Services
-----------------------------------------------------------------*/
.feature-box .ll-service-image {
	width: 220px;
}
.ll-service-pd {
	padding: 20px;
}

/* ----------------------------------------------------------------
    Buttons
-----------------------------------------------------------------*/
.ll-btn-apply {
	width: auto;
	height: auto !important;
	font-size: 30px !important;
	font-family: 'Noto-Sans';
	padding: 10px 22px;
}

/* ----------------------------------------------------------------
    Utilities
-----------------------------------------------------------------*/
.u-alignCenter {
	text-align: center;
}